@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Rajdhani', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #01000a; /* Old browsers */
  background: -moz-linear-gradient(top,  #01000a 0%, #01040c 100%);
  background: -webkit-linear-gradient(top,  #01000a 0%,#01040c 100%);
  background: linear-gradient(to bottom,  #01000a 0%,#01040c 100%);
  font-size: 16px;
}

a {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

#donate-button-container {
  position: absolute;
  top:0;
  right:0;
  margin-right: 1rem;
  margin-top: 1rem;
  color: #888;
  text-align: right;
  animation: hide 0s ease-in 8s forwards;
  img {
     margin-top: 0.5rem;
     height: 2rem;
   }
}

@keyframes hide {
  to {
    display: none;
  }
}
